.main{
    height: 100vh;
    background-image: linear-gradient(rgb(7, 39, 107), blue, rgb(21, 21, 7));
    color: antiquewhite;

    .reset{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        // bottom:40rem;
        width: 100%;
        height: 100%;
        gap:1rem;
    }
    .form-control{
        width: 16rem; 
    }
    .by{
        border-radius: 1rem;
        width: 10rem;
        height: 3rem;
        top: 2rem;
    }
}